services:
  generate:
    build: .
    container_name: generate_container_a1
    environment:
      USERS: ${USERS}
      ITEMS: ${ITEMS}
      FEATURES: ${FEATURES}
    command: ["./generate.out"]
    tty: true
    volumes:
      - matrices_data:/app/matrices

  dealer:
    build: .
    container_name: dealer_container_a1
    depends_on:
      - generate
    environment:
      NUM_QUERIES: ${NUM_QUERIES}
    command: ["./dealer.out"]
    tty: true
    volumes:
      - matrices_data:/app/matrices

  party0:
    build: .
    container_name: party0_container_a1
    depends_on:
      - dealer
    command: ["./party0.out"]
    tty: true
    volumes:
      - matrices_data:/app/matrices

  party1:
    build: .
    container_name: party1_container_a1
    depends_on:
      - party0
    command: ["./party1.out"]
    tty: true
    volumes:
      - matrices_data:/app/matrices

volumes:
  matrices_data:
